@font-face {
    font-family: 'NerkoOne';
    src: url(../css/NerkoOne-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'NerkoOne';
    background-color: rgb(108, 100, 100);    
}